<StackLayout>

    <ListView height="80%" margin-bottom="50" padding="5" id="list" [items]="chats">
        <ng-template let-item="item">
            <GridLayout columns="*" rows="auto" class="msg">
                <StackLayout [class]="filter(item.sender_id)" orientation="horizontal" [horizontalAlignment]="align(item.sender_id)">
                    <StackLayout [class]="filter(item.sender_id)" orientation="vertical">
                        <!--Image [visibility]="showImage(item.sender)" class="authorimg" stretch="aspectFill" height="30" width="30" verticalAlignment="top" src="~/images/k1.png" col="1"></Image-->
                        <Label [text]='item.sender_name' [id]="msg_class_sname(item.sender_id)" [class]="msg_class_sname(item.sender_id)" textWrap="true" verticalAlignment="top" horizontalAlignment="left"></Label>
                        <Label [text]='item.value' [class]="msg_class(item.sender_id)" textWrap="true" verticalAlignment="top"></Label>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout height="20%">
        <GridLayout columns="*,auto" style="padding: 10">
            <TextField id="textfield" class="chatTextField" row="0" col="0" [(ngModel)]="message"></TextField>
            <Button #btn class="chatBtn" row="0" col="1" text="enviar" (tap)=chat(message)></Button>
        </GridLayout>
    </StackLayout>

</StackLayout>