
<ActionBar title="Video Monitor"></ActionBar>

<GridLayout rows="*" columns="auto">

<GridLayout  width="100%" backgroundColor="#000000">


            <StackLayout class="content">

                    
				<VideoPlayer id="nativeVideoPlayer" autoplay="true" class="card-img" controls="false"
				src="http://192.168.1.106:3000/stream/ffmpeg"></VideoPlayer>
                <GridLayout width="100%" columns="auto,*" rows="auto,auto"
                    class="" verticalAlignment="center">
                    <Label row="0" col="1" class="item-name" textwrap="true"
                        verticalAlignment="bottom"
                        horizontalAlignment="left" [text]="item.address"></Label>
                    <Label row="1" col="1" class="item-name" textwrap="true"
                        verticalAlignment="bottom"
                        horizontalAlignment="left" [text]="item.zone"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout width="100%" class="lineBreak"></StackLayout>

</GridLayout>



</GridLayout>

